{% extends 'layout.html' %}

{% block body %}
<br> <br> 

<div class="row">
    <div class="col-md-12">
        <div class="contenedor" >
        <div class="col-md-12 mt-md-0 mt-3">
            <h5 style="background:dodgerblue; color: white;"><b>DATOS DE REDES NEURONALES</b></h5>
        </div>
        <br>
            <table class="table table-striped table-bordered bg-white table-sm">
                <thead>
                    <tr>
                        <td style="width:220px"><b>Fecha</b></td>
                        <td style="width:280px"><b>Descripción</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <img onmouseover="this.width=500;this.height=400;" onmouseout="this.width=130;this.height=75;" src="{{ url_for('static', filename='imag/fechard.JPG') }}" width="130" height="75" class="d-inline-block align-top" alt=""></td>
                        <td> <img onmouseover="this.width=500;this.height=400;" onmouseout="this.width=130;this.height=75;" src="{{ url_for('static', filename='imag/descripcion.JPG') }}" width="130" height="75" class="d-inline-block align-top" alt=""></td>
                    </tr>
                </tbody>
            </table>
            <div style="height:400px; overflow-y: scroll;">
                <table class="table table-striped table-bordered bg-white table-sm">
                </tbody>
                    {% for sismo in sismos%}
                        <tr>
                            <td style="width:220px">{{ sismo.1 }}</td>
                            <td style="width:280px">{{ sismo.2 }}</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        </div>  
    </div>
</div>

{% endblock %}